@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #e6e7e8;
}
